body {
    background-color: powderblue;
}

header {
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
}

#greet {
	font-size: 1.2em;
    font-family: 'Sniglet', cursive;
}

#meter {
    font-family: 'Open Sans', sans-serif;
}

#content {
	font-family: 'Open Sans', sans-serif;
}
 
#meter_reading {
	font-family: 'Fira Mono', monospace;
}

